<aside>
  <ul>
    <li{% if request.path == routes.account_url %} class="bold"{% endif %}>
      <a href="{{ routes.account_url }}">Orders</a>
    </li>
    <li{% if request.path == routes.account_addresses_url %} class="bold"{% endif %}>
      <a href="{{ routes.account_addresses_url }}">Manage Addresses</a>
    </li>
    <li>
      <a href="{{ routes.account_logout_url }}">Logout</a>
    </li>
  </ul>
</aside>
