{% comment %}
"SPEND MORE" MESSAGE
--------------------
Calculate the balance to display "spend more" message. You can
modify this as you need.
{% endcomment %}
{% if section.settings.enable_spend_more %}
  {% liquid
  assign trigger_amt = section.settings.spend_more_trigger | times: 100
  assign balance = trigger_amt | minus: cart.total_price
  %}

  {% capture spend_amt %}<span class="js--spend-more-amt mark">0</span>{% endcapture %}

  {% if cart.total_price > 0 and cart.total_price < trigger_amt %}
    {% capture spend_amt %}
      <span class="js--spend-more-amt mark">{{ balance | money }}</span>
    {% endcapture %}
  {% endif %}

  <section id="js--spend-more" class="section" {% if balance <= 0 %}style="display:none;"{% endif -%}>
    <div class="spend-more-content">
      {{ section.settings.spend_more_message | replace: 'SPEND_AMT', spend_amt }}
    </div>
  </section>

  <script>
  /*
  * "SPEND MORE" CART MESSAGE
  * Displays the "spend more for free delivery" message in the cart. This is
  * triggered when a line item qty is changed.
  */
  function spendMore(cart) {
    const block = document.querySelector('#js--spend-more');
    const triggerAmt = {{ trigger_amt | default: 0 }};
    let balance = triggerAmt - cart.total_price;
    if (cart.total_price > triggerAmt) {
      block.style.display = "none";
    } else {
      block.style.display = "";
      block.querySelector('.js--spend-more-amt').innerText = Shopify.formatMoney(balance);
    }
  }
  </script>
{% endif %}
