.cart-items-group {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.cart-items-header {
  padding: 1rem 0;
  font-weight: var(--bold);
  border-bottom: var(--border);
}
.cart-items-header,
.cart-item {
  width: 100%;
  display: grid;
  grid-template-columns: 66% 14% auto;
  gap: 3rem;
  align-items: flex-start;
  margin: 0;
}
.cart-item {
  position: relative;
  border-bottom: 1px dashed var(--black);
  margin: 1rem 0;
  padding-bottom: 1rem;
}

/* Cart item image. */
.cart-item__image {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.cart-item__image img,
.cart-item__image svg {
  width: 100px;
  height: auto;
}

/* Cart item details. */
.cart-item__details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cart-item h3 {
  margin: 0;
}
.cart-item input[type="number"] {
  max-width: 5rem;
}
.cart-items-header > div:last-child,
.cart-item > div:last-child {
  text-align: right;
}
.cart-item ul {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0;
}

/* Cart items footer. */
.cart-items-footer {
  margin-left: auto;
  margin-right: 0;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
.cart-items-footer__total {
  align-items: baseline;
}
.cart-items-footer .button {
  min-width: 250px;
}

/* Spend more bar. */
.spend-more-content {
  background-color: rgba(0, 0, 0, 0.025);
  border: 2px dashed var(--black);
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
.spend-more-content p {
  margin: 0;
  text-align: center;
}

/* Gift wrap option */
.gift-wrap-option {
  border-top: 1px dashed rgba(0, 0, 0, 0.15);
  margin-top: 0.75rem;
  padding-top: 0.5rem;
}
select.js--gift-wrap-type {
  width: auto;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
}