{% comment %}
See https://shopify.dev/docs/themes/files/customers-login-liquid
{% endcomment %}

{% form 'customer_login' %} 

{{ form.errors | default_errors }}

<label for="customer_email">Email Address</label>
<input type="email" name="customer[email]" />

<label for="customer_password">Password</label>
<input type="password" name="customer[password]" />

<input type="submit" value="Sign In" />

{% endform %} 


<h3>Forgot password</h3>

{% form 'recover_customer_password' %} 
{{ form.errors | default_errors }}

<label for="customer_email">Email Address</label>
<input type="email" name="email" />

<input type="submit" value="Submit" />

{% endform %} 
