{% comment %}
Previewing reset_password.liquid
To preview the reset_password.liquid template, you must first submit the
{ % form 'recover_customer_password' % } form, which is found in login.liquid
template. Once the form is submitted, you will receive an email with a
link to the reset_password.liquid template.
{% endcomment %}

{% form 'reset_customer_password' %} 
{{ form.errors | default_errors }}

<label for="password">Password</label>
<input type="password" value="" name="customer[password]" size="16">

<label for="password_confirmation">Password Confirmation</label>
<input type="password" value="" name="customer[password_confirmation]" size="16">

<input type="submit" value="Reset Password">
{% endform %} 
