<div class="fill center" style="background-color:{{ section.settings.background | default: 'var(--black)' }};color:{{ section.settings.color | default: 'var(--white)' }}">
  {{ section.settings.text }}
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "class": "announcement-bar-section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text",
      "default": "Welcome to our store! <a href=\"#\"> Find out more</a>"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Colour"
    }
  ]
}
{% endschema %}
