<div class="w-full py-2 text-center" style="background-color:{{ section.settings.background | default: 'var(--black)' }};color:{{ section.settings.color | default: 'var(--white)' }}">
  <div class="container mx-auto px-4">
    {{ section.settings.text }}
  </div>
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "tag": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text",
      "default": "Welcome to our store! <a href=\"#\" class=\"underline hover:text-primary\">Find out more</a>"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Colour"
    }
  ]
}
{% endschema %}
