<div class="section">
  <div class="center">
    <a class="button" href="{{ section.settings.link | default: '#' }}">
      {{ section.settings.text }}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Button",
  "tag": "section",
  "class": "button-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Button"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Button label",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button link"
    }
  ]
}
{% endschema %}
