<div class="small-text center">
  {{ section.settings.text }}
</div>

{% schema %}
{
  "name": "Copyright",
  "settings": [
    {
      "type": "liquid",
      "id": "text",
      "label": "HTML/Liquid",
      "default": "Copyright&copy;{{ 'now' | date: '%Y' }}, {{ shop.name }}."
    }
  ]
}
{% endschema %}
