<ul>
  {% assign menu_handle = section.settings.menu | default: "footer" %}
  {% for link in linklists[menu_handle].links %}
    <li>
      <a href="{{ link.url }}">
        {{ link.title }}
      </a>
    </li>
  {% endfor %}
</ul>

{% schema %}
{
  "name": "Links",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "footer"
    }
  ]
}
{% endschema %}
