<div class="section-wrap">
  <div class="section unpadded center">
    <{{- section.settings.size }} class="nomargin" data-title="{{- section.settings.title -}}">
      {{- section.settings.title -}}
    </{{- section.settings.size -}}>
  </div>
</div>

{% schema %}
{
  "name": "Heading",
  "tag": "section",
  "class": "heading-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Heading"
    }
  ],
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Text",
      "default": "Headline",
    },
    {
      "type": "select",
      "id": "size",
      "label": "Size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        }
      ],
      "default": "h2"
    }
  ]
}
{% endschema %}
