{% unless section.settings.full_width == true %}
<div class="section">
{% endunless %}
  <hr/>
{% unless section.settings.full_width %}
</div>
{% endunless %}

{% schema %}
{
  "name": "Horizontal Rule",
  "tag": "section",
  "class": "hr-section section-wrap unpadded",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Horizontal Rule"
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    }
  ]
}
{% endschema %}
