<section class="section-wrap">
  <div class="section center">
    <h1 data-title="Page not found">Page not found</h1>
    <div class="rte">
      <p>Sorry the page you are looking for could not be found. It may be been moved or deleted.</p>
    </div>
    <p>
      <a href="{{ routes.collections_url }}" class="button">
        Browse our collections
      </a>
    </p>
  </div>
</section>
