
<section id="account-register" class="section-wrap">
  <div class="section form">
    <h1 data-title="Create Account">Create Account</h1>

    <p>Create an account to speed through checkout.</p>

    {% form 'create_customer', id: 'register-account' %}
      {{ form.errors | default_errors }}

      <div class="form-row">
        <label for="first_name">First Name</label>
        <input type="text" name="customer[first_name]" maxlength="128" required>
      </div>

      <div class="form-row">
        <label for="last_name">Last Name</label>
        <input type="text" name="customer[last_name]" maxlength="128" required>
      </div>

      <div class="form-row">
        <label for="email">Email Address</label>
        <input type="email" name="customer[email]" maxlength="128" required>
      </div>

      <div class="form-row">
        <label for="password">Password</label>
        <input type="password" name="customer[password]" maxlength="30" required>
      </div>

      <div class="form-row">
        <label for="password">Confirm Password</label>
        <input type="password" name="confirm_password" maxlength="30" required>
      </div>

      <div class="form-row">
        <button type="button" onclick="validateForm();">Create Account</button>
      </div>
    {% endform %}
  </div>
</section>

<script>
function validateForm() {
  let form = document.querySelector('#register-account');
  let password1 = form.querySelector('[name="customer[password]"]');
  let password2 = form.querySelector('[name="confirm_password"]');
  if (form.querySelector('#password-error')) {
    form.querySelector('#password-error').remove();
  }
  if (password1.value == password2.value) {
    form.submit();
  } else {
    password2.insertAdjacentHTML('afterend',
      '<p id="password-error" style="color:red;">Passwords do not match.</p>'
    );
  }
}
</script>
