{% paginate blog.articles by section.settings.limit %}
<div class="section-wrap">
  <div class="section">
    <h1 data-title="{{- blog.title -}}">{{ blog.title }}</h1>
    <p>{{ page_description }}</p>
  </div>

  <div class="section">
    <div class="articles-grid">
      {% liquid
      for article in blog.articles
        render 'article-card', article: article
      endfor
      %}
    </div>
  </div>

  <div class="section">
    <div>
      {% render 'pagination', paginate: paginate %}
    </div>
  </div>
</div>
{% endpaginate %}

{% schema %}
{
  "name": "Blog",
  "tag": "section",
  "class": "blog-products-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "range",
      "id": "limit",
      "label": "Limit",
      "info": "Limit the number of articles displayed per page.",
      "min": 4,
      "max": 50,
      "step": 1,
      "default": 24
    },
    {
      "type": "range",
      "id": "articles_per_row",
      "label": "Articles Per Row",
      "info": "Number of articles per row.",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3
    }
  ]
}
{% endschema %}
