{% comment %}
Previewing reset_password.liquid
To preview the reset_password.liquid template, you must first submit the
{ % form 'recover_customer_password' % } form, which is found in login.liquid
template. Once the form is submitted, you will receive an email with a
link to the reset_password.liquid template.
{% endcomment %}
<section id="account-reset" class="section-wrap">
  <div class="section form">
    <h1 data-title="Reset Password">Reset Password</h1>
    <div>
      {% form 'reset_customer_password' %}
        {{ form.errors | default_errors }}

        <div class="form-row">
          <label for="password">Password</label>
          <input type="password" value="" name="customer[password]" size="16">
        </div>

        <div class="form-row">
          <label for="password_confirmation">Password Confirmation</label>
          <input type="password" value="" name="customer[password_confirmation]" size="16">
        </div>

        <div class="form-row">
          <button type="submit" value="Reset Password">Reset Password</button>
        </div>
      {% endform %}
    </div>
  </div>
</section>
