{% comment %}
See https://shopify.dev/docs/storefronts/themes/architecture/templates/customers-login
{% endcomment %}
<section id="account-login" class="section-wrap">
  <div class="section form">
    <h1 data-title="Login">Login</h1>

    <p>Log in to your account to see your order updates and manage your account
      profile. Don't have an account? <a href="/account/register">Create an account</a>.</p>

    <div id="js--login-form">
      {% form 'customer_login' %}
        {{ form.errors | default_errors }}

        <div class="form-row">
          <label for="customer_email">Email Address</label>
          <input type="email" name="customer[email]">
        </div>

        <div class="form-row">
          <label for="customer_password">Password</label>
          <input type="password" name="customer[password]">
        </div>

        <div class="form-row">
          <button type="submit">Login</button>
        </div>
      {% endform %}
    </div>

    <hr>

    <details id="js--forgot-password">
      <summary>Forgot password?</summary>
      <div>
        <p>Enter your email address below and we'll send you some instructions on how to reset your password.</p>
        {% form 'recover_customer_password' %}
          {{ form.errors | default_errors }}
          <div class="form-row">
            <label for="customer_email">Email Address</label>
            <input type="email" name="email" required>
          </div>
          <div class="form-row">
            <button type="submit">Reset password</button>
          </div>
        {% endform %}
      </div>
    </details>
  </div>
</section>


<script>
/*
* Toggles the forgot your password form.
*/
console.log(window.location.hash);
if (window.location.hash.includes('#recover')) {
  document.getElementById('js--forgot-password').open = true;
}
</script>
