{% assign menu_handle = section.settings.menu %}
<nav id="header-nav" class="fill">
  <div class="container">
    <div data-device="mobile" class="flex align-right">
      <button type="button" onclick="toggleNav();">&times;</button>
    </div>
    <ul>
      {% for link in linklists[menu_handle].links %}
        <li>
          <a href="{{ link.url }}">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
      <li data-device="mobile">
        <a href="{{ routes.account_url }}">Account</a>
      </li>
    </ul>
  </div>
</nav>

{% schema %}
{
  "name": "Nav",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
