<div class="raw-html-section-content">
  {{ section.settings.html }}
</div>

{% schema %}
{
  "name": "Custom Liquid",
  "tag": "section",
  "class": "raw-html-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Custom Liquid"
    }
  ],
  "settings": [
    {
      "type": "liquid",
      "id": "html",
      "label": "HTML/Liquid",
      "info": "You can add HTML, CSS and limited Liquid markup."
    }
  ]
}
{% endschema %}
