/*
Add your mobile specific theme styles here. You can do whatever you like to
whatever's already in here: trash all of it, keep bits of it, modify it,
improve it...the choice is yours! :)
*/

body [data-device="desktop"] {
  display: none;
}

input[type="search"] {
  min-width: unset;
}

/* Sections and grids */
.section-wrap {
  padding: 1rem 0;
}
.section-wrap > * {
  padding: 0.5rem;
}

main#main-content .products-grid,
main#main-content .collections-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

main#main-content .column-section,
main#main-content .articles-grid,
main#main-content #collection,
main#main-content #product {
  grid-template-columns: repeat(1, 1fr);
}

main#main-content #collection,
main#main-content #product {
  gap: 0.5rem;
}

.grid-2,
.grid-3 {
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
}

/* Header */
header {
  padding: 0 0.5rem;
  border-bottom: 2px solid var(--black);
}
#logo {
  justify-content: center;
}
#logo svg {
  width: 75px;
  height: auto;
}
#btn-menu button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  background-color: transparent;
}
#header-search-mobile {
  background-color: var(--black);
  padding: 0.5rem;
}
#header-search-mobile input[type="search"] {
  padding: 0.5rem;
}
#header-search-mobile button {
  background-color: var(--white);
  padding: 0.6rem;
  color: var(--black);
}

/* Nav */
nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
}
nav#header-nav.nav-open {
  left: 0;
}
nav ul {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  margin: 0 1rem;
}
nav li {
  padding: 0.925rem;
  display: block;
  border-right: 0;
  border-bottom: 1px dashed var(--white);
}
nav li a {
  text-decoration: none;
}
nav button {
  color: inherit;
  background-color: inherit;
  font-size: 2rem;
  padding: 0.25rem 1rem;
}

/* Footer */
footer ul {
  flex-direction: column;
  gap: 0.25rem;
  align-items: stretch;
}
footer ul a {
  display: block;
  padding: 0.5rem 0;
}

/* Typography */
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 28px;
}

details {
  margin-bottom: 14px;
}

/* Cart */
main#main-content .cart-items-header,
main#main-content .cart-item {
  gap: 0.5rem;
  grid-template-columns: repeat(1, 1fr);
}
main#main-content .cart-item input[type="number"] {
  padding: 0.25rem;
}
main#main-content .cart-item__image {
  order: 2;
}
main#main-content .cart-item__image img,
main#main-content .cart-item__image svg {
  width: 72px;
}
main#main-content .cart-items-header > div:last-child,
main#main-content .cart-item > div:last-child {
  text-align: left;
}
main#main-content .cart-items-footer {
  align-items: center;
  text-align: center;
}
main#main-content .cart-items-footer__note p {
  font-size: 0.925rem;
  line-height: normal;
  margin-bottom: 0;
}

/* Sections */
main#main-content .image-banner-content {
  margin: 1rem;
  max-width: unset;
}

/* Predictive search */
#predictive-search-results {
  top: 0;
}
#predictive-search-results h3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}