@import "tailwindcss";

@plugin "daisyui" {
	themes: light --default;
	root: ":root";
	include: ;
	exclude: ;
	prefix: ;
	logs: true;
}

/* Import global styles */
@import "../styles/global/theme.css";

@import "../styles/components/index.css";

/* Import Tailwind layers */
@layer base, components, utilities;
